/*
/*/

/js/*
/js/*/
/js/plugins/*

!/js/
!/js/plugins/
!/js/plugins/TausiLighting.js
!/js/plugins/TausiLightingBuilder.js
!/js/plugins/TausiLightingPublisher.js

!/screenshots/
!/screenshots/*

!/tausi-lighting/
!/tausi-lighting/*

!/.gitignore
!/README.md
!/tausi-lighting-demo-v0.1.1.zip
