@font-face {
    font-family: MainFont;
    src: url(res/inter.ttf);
}

::-webkit-scrollbar { width: .375em; height: .375em; }
::-webkit-scrollbar-track { background-color: #0009; }
::-webkit-scrollbar-corner { background-color: #0009; }
::-webkit-scrollbar-thumb { background-color: #fff6; }
::-webkit-scrollbar-thumb:hover { background-color: #fffc; }

html, body {
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
}

body, button, input, select {
    font-family: MainFont;
    color: white;
    font-size: 14px;
    line-height: 1;
}

button, input, select {
    padding: .5em .825em;
    border: none;
    border-radius: .125em;
    outline: none;
}

select {
    padding: .5em;
}

select option {
    background-color: #444;
}

button {
    background-color: #6660;
    cursor: pointer;
    white-space: nowrap;
    transition: .1s;
}

button[data-icon] {
    background-repeat: no-repeat;
    background-position: .4em center;
    background-size: 1.2em;
    padding-left: 2em;
}

button.empty-text {
    padding-left: 1.75em;
    padding-right: 0;
}

button.no-text {
    width: 1.5em;
    height: 1.5em;
    border-radius: 10em;
    background-size: 1.5em;
    background-position: center;
    padding: 0;
}

button.big {
    width: 2.5em;
    height: 2.5em;
    background-size: 1.25em;
}

button:hover {
    background-color: #666f;
}

button.active {
    background-color: #369f;
}

button.primary:hover {
    background-color: #369f;
}

button.positive:hover {
    background-color: #393f;
}

button.negative:hover {
    background-color: #933f;
}

button:active {
    filter: brightness(1.1);
}

input, select {
    min-width: 0;
    border-radius: .25em;
}

input[type="number"], select {
    background-color: #fff2;
    outline: none;
    border: none;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

input[type="range"] {
    padding: 0 .25em;
    border: none;
    appearance: none;
    background: transparent;
    height: 1.25em;
}

input[type="range"]:hover {
    background-color: unset;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #fff2;
    height: .625em;
}

input[type="range"].r::-webkit-slider-runnable-track {
    background-color: #f337;
}

input[type="range"].g::-webkit-slider-runnable-track {
    background-color: #3f37;
}

input[type="range"].b::-webkit-slider-runnable-track {
    background-color: #33f7;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    margin-top: 0;
    background-color: #0009;
    outline: .175em solid #fff5;
    width: .625em;
    height: .625em;
    transition: all 80ms;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #fff;
    outline-color: #fff;
    outline-offset: 0.125em;
}

button:disabled, input:disabled {
    filter: opacity(.5);
    cursor: default;
    background-color: transparent !important;
    pointer-events: none;
}

#errorPrinter,
video {
    display: none;
}

#app {
    display: flex;
    width: 100%;
}

#left {
    flex: 1;
    background: linear-gradient(-90deg, #111, #222);
    display: flex;
    flex-direction: column;
}

#left h3 {
    margin: 2em 1em .5em;
}

#left .left-main {
    flex: 1;
    overflow: hidden auto;
}

#left .left-bottom {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

#tools {
    display: flex;
    gap: .5em;
}

#tools-settings {
    align-self: stretch;
    margin: 1.5em 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#main {
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: #222;
    overflow: hidden;
}

#right {
    flex: 2;
    background: linear-gradient(90deg, #111, #222);
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
}

#maps {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#maps li {
    cursor: pointer;
    margin: 0;
    padding: .5em 1.5em;
}

#maps li:hover {
    background-color: #333;
}

#maps li.active {
    background-color: #444;
}

#toolbar {
    display: flex;
    padding: 5px 5px 0;
    gap: 5px;
}

#addMenu {
    position: absolute;
    z-index: 2;
    top: 2.5em;
    display: none;
    flex-direction: column;
    background-color: #111;
    padding: .5em;
    gap: .5em;
}

#addMenu.visible {
    display: flex;
}

#addMenu button {
    text-align: left;
}

#gameCanvasContainer {
    flex: 1;
    overflow: hidden;
    display: flex;
    transition: 150ms;
}

#gameCanvasContainer.loading {
    filter: opacity(0);
    transform: scale(.95);
}

#gameCanvas {
    margin: 5px 0 0 5px;
    display: block;
    margin: auto;
}

#properties {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow: auto;
}

.field {
    display: flex;
    gap: .5em;
    border-radius: .25em;
    background-color: #222;
    padding: .5em .5em .75em;
    position: relative;
}

.field label {
    position: absolute;
    background-color: #333;
    transform: translateY(-1em);
    padding: .5em;
    border-radius: .25em;
}

.field label + * {
    flex: 1;
    margin-top: 1.75em;
}

.color {
    display: flex;
    flex-direction: column;
    gap: .25em;
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: contrast(.6) brightness(.25) blur(.2em);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(1.1);
    pointer-events: none;
    transition: .2s;
    z-index: 1;
}

#overlay.visible {
    opacity: 1;
    transform: scale(1.0);
    pointer-events: unset;
}

.dialog-window {
    background-color: #333;
    display: none;
    flex-direction: column;
    padding: 1em;
    gap: .5em;
    border-radius: .25em;
    box-shadow: 0 .5em 6em -2em #000;
    max-width: min(60em, 100% - 10em);
    max-height: calc(100% - 10em);
}

.dialog-window.visible {
    display: flex;
}

.dialog-window .title {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    padding: .25em .25em 0;
    opacity: .8;
}

.dialog-window .content {
    padding: .75em;
    line-height: 1.25;
    overflow: auto;
}

.dialog-window .bottom {
    display: flex;
    justify-content: center;
    gap: .5em;
}

#maps,
#maps li,
.field > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.markdown h1 {
    margin: 0;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    margin: 1.5em 0 0;
}

.markdown ul {
    padding-left: 1.5em;
    line-height: 1.675;
}

.markdown a {
    color: orange;
    text-decoration: none;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown p {
    line-height: 1.675;
}

.markdown img {
    max-width: calc(100% - 2em);
    margin: 1em;
    box-shadow: 0 .5em 2em -1em #000;
}
